includes:
    - ../../../config/extension.neon

parameters:
    bladestan:
        forbidden_node:
            nodes:
                -
                    type: Expr_FuncCall
                    functions: null
